<div class="home-container">
  <header class="header">
    <div class="header-content">
      <div class="logo-container">
        <img src="./induma-logo.png" alt="Insuma S.A.S Logo" class="logo">
      </div>
      <div class="header-title">
        <h1>Detección de Objetos</h1>
      </div>
    </div>
  </header>

  <main>
    <div class="components-grid">
      <section class="camera-section">
        <app-camera-detector></app-camera-detector>
      </section>

      <section class="weight-section">
        <app-weight-estimator></app-weight-estimator>
      </section>
    </div>
  </main>

  <app-footer></app-footer>
</div> 